<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="AY PORTFOLIO 홈페이지 입니다." />
<title>AY PORTFOLIO</title>
<meta name="theme-color" content="#fff100">
<meta name="msapplication-navbutton-color" content="#fff100">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="../resources/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="../resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="../resources/favicon/favicon.ico">
<link rel="manifest" href="../resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#fff100">
<meta name="msapplication-TileImage" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:title" content="AY PORTFOLIO">
<meta property="og:url" content="https://a-young1210.github.io/portfolio/">
<meta property="og:image" content="../resources/front/images/part/layout/og-image.png">
<meta property="og:description" content="AY PORTFOLIO 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="AY PORTFOLIO">
<meta name="twitter:url" content="https://a-young1210.github.io/portfolio/">
<meta name="twitter:image" content="../resources/front/images/part/layout/og-image.png">
<meta name="twitter:description" content="AY PORTFOLIO 홈페이지 입니다.">

<link rel="stylesheet" href="../resources/front/css/xs.min.css" />
<link rel="stylesheet" href="../resources/front/css/sm.min.css" media="screen and (min-width: 576px)" />
<link rel="stylesheet" href="../resources/front/css/md.min.css" media="screen and (min-width: 768px)" />
<link rel="stylesheet" href="../resources/front/css/lg.min.css" media="screen and (min-width: 992px)" />
<link rel="stylesheet" href="../resources/front/css/xl.min.css" media="screen and (min-width: 1200px)" />

<script src="../resources/front/js/script.min.js"></script>

</head>
<body class=""><div id="wrap">
	<!-- S: Header -->
	<header id="header">
		<div class="container">
			<h1 class="logo"><a href="index.html"><span class="sr-only">AY</span></a></h1>
			<button class="lnb-btn">
				<span></span> <span></span> <span></span>
			</button>
			<div class="lnb">
				<ul>
					<li><a href="about" class="active" title="ABOUT">ABOUT</a></li>
					<li><a href="skill" title="SKILLS">SKILLS</a></li>
					<li><a href="work" title="WORKS">WORKS</a></li>
					<li><a href="contact" title="CONTACT">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- E: Header -->
	<div id="container">
		<div class="container">

<div class="content intro">
	<span class="intro-text">Hello</span>
	<p><strong class="intro-text">I’m Web Publisher</strong></p>
	<strong class="name"><strong>Jo AYoung</strong></strong>
</div>

<div id="about" class="content about">
	<div class="about-wrap">
	<h2 class="title">ABOUT<br />ME</h2>
	<div class="about-txt">
		<p><small>안녕하세요.</small><br />
		<strong>UI/UX</strong>를 생각하는<br />
		<strong>체계적인</strong> 웹퍼블리셔<br />
		<strong>조아영</strong>입니다 :)</p>
	</div>
	<div class="hashtag">
		<span>#<em>성실한</em></span><span>#<em>꼼꼼한</em></span><span>#<em>긍정적인</em></span>
		<span>#<em>소통하는</em></span><span>#<em>협업하는</em></span><span>#<em>웹표준</em></span>
		<span>#<em>웹접근성</em></span><span>#<em>반응형</em></span><span>#<em>하드코딩</em></span>
	</div>
	</div>
</div>

<div id="skill" class="content skill">
	<h2 class="title">SKILLS &<br />TOOLS</h2>
	<div class="row">
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">HTML/HTML5</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:90%"></div>
                        </div>
        				<strong class="progress-text">90<span>%</span></strong>
    				</div>
    				<p class="txt">웹접근성, 웹표준을 고려한 마크업을 구현합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">CSS/CSS3</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:90%"></div>
                        </div>
        				<strong class="progress-text">90<span>%</span></strong>
    				</div>
    				<p class="txt">CSS3,  LESS, Sass를 사용할 수 있습니다. 유지보수와 협업에 편리한 스타일 가이드를 제작합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">Javascript/Jquery</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:70%"></div>
                        </div>
        				<strong class="progress-text">70<span>%</span></strong>
    				</div>
    				<p class="txt">슬라이드 배너, 탭메뉴 등 기본적인 UI 제작, 플러그인 활용 및 수정이 가능합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">Bootstrap</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:85%"></div>
                        </div>
        				<strong class="progress-text">85<span>%</span></strong>
    				</div>
    				<p class="txt">bootstrap3, 4을 이용한 홈페이지 제작이 가능합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">GIT/GitHub</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:60%"></div>
                        </div>
        				<strong class="progress-text">60<span>%</span></strong>
    				</div>
    				<p class="txt">버전을 관리하고 팀원들과의 원활한 협업이 가능합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">Cross Browsing</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:80%"></div>
                        </div>
        				<strong class="progress-text">80<span>%</span></strong>
    				</div>
    				<p class="txt">IE, Chrome, Firefox, Safari, Opera에 대응해 작업합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">Photoshop</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:85%"></div>
                        </div>
        				<strong class="progress-text">85<span>%</span></strong>
    				</div>
    				<p class="txt">기본적인 홈페이지 시안을 제작 할 수 있으며 이미지보정과 간단한 이미지 제작이 가능합니다.</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-6">
    		<div class="row">
    			<div class="col-12 col-xl-4">
    				<h3 class="title2">Illustrator</h3>
    			</div>
    			<div class="col-12 col-xl-8">
    				<div class="progress-wrap">
        				<div class="progress">
    						<div class="progress-bar bg-mint" style="max-width:80%"></div>
                        </div>
        				<strong class="progress-text">80<span>%</span></strong>
    				</div>
    				<p class="txt">Logo, Icon 등의 제작, 활용이 가능합니다.</p>
    			</div>
    		</div>
    	</div>    	
	</div>
</div>

<div id="work" class="content work">
	<h2 class="title">WORKS<br />EXPERIENCE</h2>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/snu_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">서울대학교 창업지원단</h3>
				<p class="txt">서울대학교 창업지원단 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#snu">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/iie_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">한양대학교 국제교육원</h3>
				<p class="txt">한양대학교 국제교육원 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#iie">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/museum_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">한양대학교 박물관</h3>
				<p class="txt">한양대학교 박물관 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#museum">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/procollege_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">전문대학포털</h3>
				<p class="txt">전문대학포털 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#procollege">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/compaq_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">Compaq Video</h3>
				<p class="txt">Compaq Video 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#compaq">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/ehrc_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">한양대학교 ERICA 인권센터</h3>
				<p class="txt">한양대학교 ERICA 인권센터 반응형 웹사이트입니다.</p>
				<button type="button" class="btn btn-mint w-min170" data-toggle="modal" data-target="#ehrc">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/hanguksa_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">한국사연구회</h3>
				<p class="txt">한국사연구회 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#hanguksa">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/mscheme_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">한양대학교 재료화학공학과</h3>
				<p class="txt">한양대학교 재료화학공학과 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#mscheme">MORE</button>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="work-list">
				<div class="img-wrap">
            		<img src="../resources/front/images/part/main/work/ventureir_thumb.jpg" alt="작업물 이미지" />
            	</div>
				<h3 class="title2">Venture IR</h3>
				<p class="txt">Venture IR 반응형 웹사이트입니다.</p>
				<button class="btn btn-mint w-min170" data-toggle="modal" data-target="#ventureir">MORE</button>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
<div class="modal" id="snu">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">서울대학교 창업지원단</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://startup.snu.ac.kr/" target="_blank">https://startup.snu.ac.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/snu_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="iie">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">한양대학교 국제교육원</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://iie.hanyang.ac.kr/" target="_blank">https://iie.hanyang.ac.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/iie_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="museum">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">한양대학교 박물관</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://museumuf.hanyang.ac.kr/" target="_blank">https://museumuf.hanyang.ac.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							PC
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/museum.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/museum_2.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/museum_3.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/museum_4.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="procollege">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">전문대학포털</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="http://www.procollege.kr/" target="_blank">http://www.procollege.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[사이트리뉴얼] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/procollege_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="compaq">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">Compaq Video</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="11https://compaqtime.com/1111">https://compaqtime.com/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							PC
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/compaq.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/compaq_4.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/compaq_2.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/compaq_3.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="ehrc">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">한양대학교 ERICA 인권센터</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://ehrc.hanyang.ac.kr/" target="_blank">https://ehrc.hanyang.ac.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ehrc_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="hanguksa">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">한국사연구회</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://hanguksa.org/" target="_blank">https://hanguksa.org/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/hanguksa_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="mscheme">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">한양대학교 재료화학공학과</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="https://mscheme.hanyang.ac.kr/" target="_blank">https://mscheme.hanyang.ac.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[제작/유지보수] 퍼블리싱 100%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, TABLET, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme_2.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; TABLET &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme-md.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme_2-md.jpg" alt="작업물 이미지" />
						</div>							
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/mscheme_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="ventureir">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal"><span></span><span></span></button>
			</div>
			<div class="modal-body">
				<h3 class="title2">Venture IR</h3>
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">URL :</strong><br />
							<a href="http://ventureir.or.kr/" target="_blank">http://ventureir.or.kr/</a>
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Role :</strong><br />
							[사이트리뉴얼] 퍼블리싱 70%
						</p>
						<br />
					</div>
					<div class="col-12 col-md-6">
						<p class="txt">
							<strong class="point-darkgray">Used :</strong><br />
							HTML, CSS, jQuery, Eclipse, DreamWeaver, Photoshop
						</p>
						<br />
						<p class="txt">
							<strong class="point-darkgray">Type :</strong><br />
							반응형 웹(PC, MOBILE)
						</p>
						<br />
					</div>
				</div>
				<div class="work-img">
					<div class="row">
						<div class="col-12">
							<h4 class="title3">&lt; PC &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ventureir.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ventureir_2.jpg" alt="작업물 이미지" />
						</div>			
						<div class="col-12">
							<h4 class="title3" style="margin-top: 10px;">&lt; MOBILE &gt;</h4>
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ventureir-xs.jpg" alt="작업물 이미지" />
						</div>
						<div class="col-12 col-md-6">
							<img src="../resources/front/images/part/main/work/modal-img/ventureir_2-xs.jpg" alt="작업물 이미지" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray w-min170" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div></div>

<div id="contact" class="content contact">
	<h2 class="title">CONTACT</h2>
	<p>I hope to meet you soon<br />Thank you :)</p>
	<strong class="title2"><a href="mailto:a_young1210@naver.com">a_young1210@naver.com</a></strong><br>
	<button type="button" class="scroll-top">
		<span></span>
		<span></span>
		<p class="sr-only">맨위로 이동</p>
	</button>
</div>

		</div>
	</div>
	<!-- S: Footer -->
	<footer id="footer">
		<div class="container">
			<span class="copyright">ⓒ 2020 Jo AYoung All rights reserved.</span>
			<span class="email">a_young1210@naver.com</span>
		</div>
	</footer>
	<!-- E: Footer -->
</div>
</body>
</html>